<!DOCTYPE html>
<html lang="en">
<head>
    <met<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>画板</title>
        <style>
            *{padding: 0;margin: 0;}
            html {
                overflow: hidden;
            }
            a{
                text-decoration: none;
                width: 25px;
                height: 25px;
            }
            #box{
                background-color: #242424;
            }
            .toolMenu{
                position: absolute;
                color: white;
            }
            .openButton,.download{
                width: 25px;
                height: 25px;
                background-color: greenyellow;
                border-radius: 50%;
                margin: 5px;
                color: red;
                text-align: center;
                line-height: 25px;
                cursor: pointer;
            }
            .tool,.eraser{
                padding: 5px;
                margin: 5px;
                border:2px solid greenyellow;
                display: none;
            }
        </style>
    </head>
<body>
<div class="toolMenu">
    <div class="openButton">刷</div>
    <ul class="tool">
        <li>宽度:<input class="widthInput" type="range"/></li>
        <li>颜色:<input type="color"/></li>
        <li><button>橡皮擦</button></li>
        <li><button><%=roomID%></button></li>
    </ul>
    <ul class="tool eraser">
        <li>宽度:<input class="eraserInput" type="range"/></li>
    </ul>
    <div class="openButton clearButton">清</div>
    <a href="" class="download"><div class="download">存</div></a>
</div>
<canvas id="box"></canvas>
<script>var roomID="<%=roomID%>";</script>
<script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
<script src="/js/painer.js"></script>
<script src="/js/main.js"></script>
</body>
</html>