*{padding: 0;margin: 0;}
html {
}
a{
    text-decoration: none;
    width: 25px;
    height: 25px;
}
#box{
    background-color: #242424;
}
/* .toolMenu{
    position: absolute;
    color: white;
}
.openButton,.download{
    width: 25px;
    height: 25px;
    background-color: greenyellow;
    border-radius: 50%;
    margin: 5px;
    color: red;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.tool,.eraser{
    padding: 5px;
    margin: 5px;
    border:2px solid greenyellow;
    display: none;
} */
.tools {
    min-width: 4em;
}
.tool {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 0 auto;
    cursor: pointer;
}
.active {
    border: solid 1px #000;
    background-color: #cbe6fc;
}
body {
    cursor: crosshair;
}
